body {
  background-color: #f6f9fc;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

main {
  padding-top: 3em;
  padding-bottom: 2em;
  transition: all 0.5s;
}

@media only screen and (min-width: 851px) {
  main {
    padding-left: 4em;
    padding-right: 4em;
  }
}

.logo {
  max-width: 90px;
}
